<ion-view view-title="Login" hide-back-button="true">
  <ion-content class="has-header padding">
    <form name="loginForm" novalidate="" ng-submit="loginEmail(loginForm)"
      class="list card no-margin">

      <ion-input class="item item-input item-stacked-label"
        ng-class="{ 'has-errors' : loginForm.email.$invalid && loginForm.$submitted,
        'no-errors' : loginForm.email.$valid && loginForm.$submitted}">
        <ion-label >Email</ion-label>
        <input type="email" name="email" placeholder="Your email..." ng-model="data.email" required>
      </ion-input>

      <div class="error-container" ng-show="loginForm.email.$error && loginForm.$submitted"
        ng-messages="loginForm.email.$error">
        <div class="error" ng-message="required">
          <i class="ion-information-circled"></i>
          This field is required
        </div>
        <div class="error" ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">
          <i class="ion-information-circled"></i>
          This needs to be a valid email.
        </div>
      </div>

      <ion-input class="item item-input item-stacked-label"
        ng-class="{ 'has-errors' : loginForm.password.$invalid && loginForm.$submitted,
        'no-errors' : loginForm.password.$valid && loginForm.$submitted}">
        <ion-label >Password</ion-label>
        <input type="password" name="password" placeholder="Your Password" ng-model="data.password" required>
      </ion-input>

      <div class="error-container last-error-container" ng-messages="loginForm.password.$error"
        ng-show="loginForm.password.$error && loginForm.$submitted" >
        <div class="error" ng-message="required">
          <i class="ion-information-circled"></i>
          This field is required
        </div>
      </div>

      <ion-input class="item-input padding">
        <input type="submit" class="button button-positive" value="Login"
          ng-disabled="loginForm.$invalid && loginForm.$submitted">
      </ion-input>

    </form>

    <a href="#/signup" class="button button-royal button-clear button-block">
      Or create an account
    </a>

    <a href="#/passwordResetForm" class="button button-royal button-clear button-block button-small">
      I forgot my password :'(
    </a>

  </ion-content>
</ion-view>


<!-- <ion-view class="login-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card login-container" content-tabs tabsdata='tabsdata'>
          <form name="login_form" class="" novalidate ng-cloak>
            <my-tabs>
              <my-tab title="Email">
                <div class="list">
                  <label class="item item-input">
                    <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
                  </label>
                  <label class="item item-input" show-hide-container>
                    <input type="password" placeholder="Password" name="user_password" ng-model="user.password" required show-hide-input>
                  </label>
                </div>
              </my-tab>

            </my-tabs>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="signIn(user)" ng-disabled="(selected_tab=='Email') ? (login_form.user_email.$invalid || login_form.user_password.$invalid) : ((selected_tab=='Phone') ? (login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false)">
                Log In
              </button>
            </div>
            <div class="row">
              <div class="col">
                  <a class="button button-block button-positive button icon icon-center ion-social-facebook center" ng-click="login('facebook')"></a>
              </div>
              <div class="col">
                  <a class="button button-block button-positive button icon icon-center ion-social-twitter center" ng-click="doLoginSocial('twitter')"></a>
              </div>
              <div class="col">
                  <a class="button button-block button-positive button icon icon-center ion-social-google center" ng-click="loginWithGoogle()"></a>
              </div>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="forgot-password button button-small button-clear button-light" ui-sref="auth.forgot-password">
            Forgot Password?
          </a>
          <a class="sign-up button button-small button-clear button-light" ui-sref="auth.signup">
            Sign Up
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view> -->