<ion-view view-title="Create an Account">
  <ion-content class="padding has-header">
    <form name="signup_form"   class="list card no-margin" novalidate>
      <ion-input class="item item-input item-stacked-label">
        <ion-label >Name</ion-label>
        <input type="text" name="full_name" placeholder="Your full name" ng-model="data.fullName" required>
      </ion-input>

      <div class="error-container" ng-show="signup_form.full_name.$error">
      </div>
      <ion-input class="item item-input item-stacked-label">
        <ion-label >Institution</ion-label>
        <input auto-complete ui-items="institution" type="text" name="institution" placeholder="College, University etc" ng-model="data.institution" required>
      </ion-input>
      <ion-input class="item item-input item-stacked-label">
        <ion-label >Course of Study</ion-label>
        <input  auto-complete ui-items="courseOfStudy" type="text" name="courseOfStudy" placeholder="Course of Study" ng-model="data.courseOfStudy" required>
      </ion-input>

      <ion-input class="item item-input item-stacked-label">
        <ion-label >Email</ion-label>
        <input type="email" name="email" placeholder="Your email..." ng-model="data.email" required>
      </ion-input>

      <div class="error-container" ng-show="signupForm.email.$error && signupForm.$submitted">

      </div>

      <ion-input class="item item-input item-stacked-label">
        <ion-label >Password</ion-label>
        <input type="password" name="password" placeholder="Your password (Don't tell anyone!)"
          ng-model="data.password" required>
      </ion-input>

      <ion-input class="item-input padding">
        <input type="submit" class="button button-positive" value="Sign Up"
          ng-click="signup(data)"  ng-disabled="signup_form.$invalid">
      </ion-input>
    </form>

    <a href="#/auth/login" class="button button-royal button-clear button-block">
      Or Sign In
    </a>
    <a href="#/auth/forgot-password" class="button button-royal button-clear button-block">
      Forgot Password
    </a>


  </ion-content>
</ion-view>

