<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div>
      <div class="profile-container"></div>
      <div class="user-background-image-outer">

        <ion-profile-picture ng-model="myPicture" />
      </div>
    </div>

    <div>
      <ion-profile-picture ng-model="myPicture" />

    </div>
    <div class="bottom-content">
      <div class="user-bio">

        <div class="list card">
          <li href="#/changeEmail" class="item item-icon-left"> <i class="icon assertive ion-man"></i>
            Name: {{userProfile.name}}
            
          </li>
          <li href="#/changePassword" class="item item-icon-left item-icon-right"> <i class="icon assertive ion-university"></i>
            Institution/School: {{userProfile.institution}}
          </li>
          <li href="#/changePassword" class="item item-icon-left item-icon-right">
            <i class="icon assertive ion-document-text"></i>
            Course of Study: {{userProfile.courseofstudy}}
            <button class="icon  ion-edit" ng-click="sendMsg()"></button>
          </li>
        </div>
      </div>
      <div class="list card">
        <a href="#/changeInstitution" class="item item-icon-left">
          <i class="icon assertive ion-email"></i>
          Change your Institution
        </a>
        <a href="#/changeEmail" class="item item-icon-left">
          <i class="icon assertive ion-email"></i>
          Change your email
        </a>
        <a href="#/changePassword" class="item item-icon-left">
          <i class="icon assertive ion-lock-combination"></i>
          Change your password
        </a>

        <div ng-click="logoutUser()" class="item item-icon-left">
          <i class="icon assertive ion-log-out"></i>
          Log Out
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>