<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content>
    <div>
      <div class="profile-container">

      </div>
      <div class="user-background-image-outer">

<ion-profile-picture ng-model="myPicture" />
        </div>
      </div>

    <div>
<ion-profile-picture ng-model="myPicture" />

  </div>
    <div class="bottom-content">
      <div class="user-bio">
          <ion-list>
    <h4>Select Your Opportunities Interest</h4>
      <ion-checkbox ng-model="filter.red">Technology and Innovation</ion-checkbox>
      <ion-checkbox ng-model="filter.yellow">Humanities</ion-checkbox>
      <ion-checkbox ng-model="filter.pink">Natural Sciences</ion-checkbox>
      <ion-checkbox ng-model="filter.yellow">Business, Arts and Design</ion-checkbox>
      <ion-checkbox ng-model="filter.yellow">Engineering</ion-checkbox>
    </ion-list>
      </div>
  <div class="list card">
    <a href="#/changeEmail" class="item item-icon-left">
      <i class="icon royal ion-email"></i>
      Change your email
    </a>

    <a href="#/changePassword" class="item item-icon-left">
      <i class="icon royal ion-lock-combination"></i>
      Change your password
    </a>

    <div ng-click="logoutUser()" class="item item-icon-left">
      <i class="icon royal ion-log-out"></i>
      Log Out
    </div>
  </div>
  </div>
  </ion-content>
</ion-view>
