<ion-view cache-view="false">
  <ion-header-bar class="bar-stable">
    <h1 class="title">User</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar">
      <div>
      <!-- <ion-profile-picture ng-model="myPicture" />  -->
      <div ng-repeat="img in imgs |  limitTo:quantity" class="col-xs-12 col-sm-6 col-md-3">
        <img  class="ion-profile-picture no-picture inputimg" ng-src="{{img.base64}}">
       <a class="button button-icon icon-assertive icon ion-trash-a" ng-click="deleteimg(img.$id)">Delete</a>
      </div>
      <form ng-submit="uploadFile()">
        <input class="inputimg" type="file" name="file"  id="nameImg" accept="image/*">
                 <span class="input-group-btn">
                <button  type="submit" class="btn btn-block"> 
                  <i class="icon ion-upload">Upload</i>
          </button>
          </span>
        <br />

      </form>
            <hr />


    </div>
        <!-- <img ng-src="{{ current_user.image }}"> -->
        <h2>Welcome</h2>
        <p>{{ current_user.email }}</p>
      </div>

    </div>
        <div class="bottom-content">
      <div class="user-bio">
      
        <div class="list card">
          <li href="#/changeEmail" class="item item-icon-left"> 
           <strong>Name:</strong>  {{userProfile.fullName}}
            
          </li>
          <li href="#/changePassword" class="item item-icon-left item-icon-right"> 
            <strong>Institution/School: </strong>{{userProfile.institution}}
            
            
          </li>
          <li href="#/changePassword" class="item item-icon-left item-icon-right">
         
            <strong>Course of Study: </strong>{{userProfile.courseOfStudy}}
            
          </li>
        </div>

      </div>
      <div class="list card">
        <a href="#/changeCourseOfStudy" class="item item-icon-left">
          <i class="icon assertive ion-email"></i>
          Change your Course Of Study
        </a>
        <a href="#/changeInstitution" class="item item-icon-left">
          <i class="icon assertive ion-email"></i>
          Change your Institution
        </a>
        <a href="#/changeEmail" class="item item-icon-left">
          <i class="icon assertive ion-email"></i>
          Change your email
        </a>
        <a href="#/changePassword" class="item item-icon-left">
          <i class="icon assertive ion-lock-combination"></i>
          Change your password
        </a>

      </div>
    </div>
    <button class="button button-block button-clear button-assertive" ng-click="logout()">Log out</button>
  </ion-content>
</ion-view>