<div>
  <span ng-click="categoriesFilter = {'slug':'competitions'}">Competitions</span> | 
  <span ng-click="categoriesFilter = {'slug':'graduate-jobs'}">Graduate Jobs</span> |
  <span ng-click="categoriesFilter = {'slug':'bursaries'}">Bursaries</span> | 
  <span ng-click="categoriesFilter= {'slug':'vacation-works'}">Vacation Works</span> |
  <span ng-click="categoriesFilter = {'slug':'student-jobs'}">Student Jobs</span> | 
  <span ng-click="categoriesFilter = {'slug':'conferences'}">Conferences</span> |
  <span ng-click="categoriesFilter = null">No filter</span>
</div>