<ion-view hide-back-button class="wordpress-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Categories</span>
  </ion-nav-title>
  <ion-content>
    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>


  <ion-nav-title>
    <span> Categories</span>
  </ion-nav-title>

    <div class="row col-cat ">
      <div ng-repeat="cat in category" class="list">
        <a ui-sref="app.category_detail({slug:cat.slug})">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="category-image" ng-src="{{category.image}}">
            <h1 class="title">{{cat.title}}</h1>
            <h2 class="title">{{cat.description}}</h2>
          </pre-img>
          <div class="category-bg"></div>
        </a>
      </div>
    </div>



    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%" icon="ion-loading-c">
    </ion-infinite-scroll>
  </ion-content>
  </ion-view>
