<ion-view class="wordpress-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>My Opportunities</span>
  </ion-nav-title>
<div class="bar bar-header">
  <h1 class="title">Header</h1>
</div>
<div class="bar bar-subheader">
  <span ng-click="categoriesFilter = {'slug':'competitions'}">Competitions</span> | 
  <span ng-click="categoriesFilter = {'slug':'graduate-jobs'}">Graduate Jobs</span> |
  <span ng-click="categoriesFilter = {'slug':'bursaries'}">Bursaries</span> | 
  <span ng-click="categoriesFilter= {'slug':'vacation-works'}">Vacation Works</span> |
  <span ng-click="categoriesFilter = {'slug':'student-jobs'}">Student Jobs</span> | 
  <span ng-click="categoriesFilter = {'slug':'conferences'}">Conferences</span> |
  <span ng-click="categoriesFilter = null">No filter</span>    
</div>
  <ion-content class="has-subheader">

    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="posts-list">
      <div ng-repeat="post in posts | filter: categoriesFilter" class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <h2 class="post-title" ng-bind-html="post.title | rawHtml"></h2>
          <p class="post-author">
            By <span>{{post.author.nickname}}</span> <span am-time-ago="post.date"></span>
          </p>
        </div>
        <div class="post-content item item-text-wrap" post-content>
          <p class="post-excerpt" dynamic-anchor-fix ng-bind-html="post.content | rawHtml"></p>
          <div class="post-actions row">
            <div class="actions col col-center col-66">
              <a class="button button-icon icon ion-bookmark" ng-click="bookmarkPost(post)"></a>
            </div>
            <div class="read-more col col-center col-33">
              <a ui-sref="app.post({postId: post.id})" class="button button-small button-block button-assertive">
                Read more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%" icon="ion-loading-c">
    </ion-infinite-scroll>


  </ion-content>

</ion-view>
