<ion-view class="profile-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Post An Opportunity</span>
  </ion-nav-title>
  <form>
  <ion-content>
    <ul class="list"> 
      <label class="item item-input">
        <span class="input-label"></span>
        <input ng-model="message.opportunityCompany" type="text" placeholder="Name of Company Offering the Opportunity">
      </label>
      <label class="item item-input">
        <span class="input-label"></span>
        <input ng-model="message.opportunityName" type="tel" placeholder="Name/Title of Opportunity">
      </label>
      <label class="item item-input">
        <span class="input-label"></span>
        <input ng-model="message.opportunityDescription" type="tel" placeholder="Opportunity Description">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Deadline</span>
        <input ng-model="message.opportunityDeadline" type="date">
      </label>
      <label class="item item-input ">
        <textarea ng-model="message.opportunityBenefits" placeholder="Benefits"></textarea>
      </label>
      <label class="item item-input ">
        <input ng-model="message.opportunityContactPerson" type="text" placeholder="Contact Person Name">
      </label>
      <label class="item item-input ">
        <input ng-model="message.opportunityContactEmail" type="email" placeholder="Contact Person Email">
      </label>
      <ion-input class="item-input padding">
        <input type="submit" class="button button-positive" value="Submit"
          ng-click="sendOpportunity()">
      </ion-input>
    </ul>
    </form>
  </ion-content>
</ion-view>
