<ion-view class="profile-view">
  <ion-nav-title>
    <span>Post An Opportunity</span>
  </ion-nav-title>
  <ion-content>
<div  class="bar bar-header bar-dark">
  <h2 class="title">Please Read</h2>
</div>

  <ol class="list">
  <li></li>
    <li class="item">
      Leave your contact details in the submit email so we can get back to you for review
    </li>
    <li class="item">
      Be as descriptive as possible 
    </li>
    <li class="item">
      No spamming
    </li>
</ol>

      <ion-input class="item-input padding">
        <input type="submit" class="button button-positive" value="Submit"
          ng-click="sendFeedback()">
      </ion-input>
    
  </ion-content>
</ion-view>